.App-logo {
  height: 24px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 6s linear;
  }
}

img {
  max-height: 80%;
  max-width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  letter-spacing: 0.013rem;
  line-height: 2;
  font-weight: 400;
  text-indent: 2rem;
}

header {
}

.main {
}

footer {
  font-size: 12px;
}

code {
}
